/*
Creator: Patricia Dela Cruz		
Date created: 9/16/2018
Date last modified: 9/16/2018
*/

header {
	background-color: #F9F9F9;
	height: 180px;
	padding: 20px 10px 10px 10px;
	
	
}

.cafeName  {
	color: #bfbf7f ;
	font-family: 'Gochi Hand', cursive;
	text-align: left;
	
}

.newLocation {
	font-family: 'Bubblegum Sans', cursive;
	color: #0a878a;
	text-align: center;
}
h1 {
	font-size: 3.5em;
}
footer {
	background-color: powderblue;
	color: white;
	height: 100px;
	text-align: center;
	padding: 30px 10px 20px 10px;

}
body {
	background-image: url("Photos/bg1.jpg");
	backround-repeat: repeat;
	background-color: #cccccc;
	
}

.btn {
	background-color: Wheat;
	color: saddlebrown;
	
}

/* unvisited link */
a:link {
   color: black;
}

/* visited link */
a:visited {
 color: Dimgray;
}

/* mouse over link */
a:hover {
    font-weight: bold;
}

/* selected link */
a:active {
	text-decoration: none;
}
nav  {
	
	
			border: 2px dashed #bfbf7f;
			border-radius: 20px;
			padding: 8px 8px;
			margin: 20px 0;
}