/*
Creator: Patricia Dela Cruz		
Date created: 9/16/2018
Date last modified: 9/16/2018
*/
.main {
	padding-top: 10px;
}
index-intro {
	width: 100%
}

.index-intro .jumbotron {
	padding: 70px 20px;
	margin: 0px;
	background-image: url(Photos/goldconfetti.jpg);
	background-size: cover;
}

.index-intro .jumbotron h1{
	font-size: 60px;
	color: #0a878a ;
	font-family: 'Gochi Hand', cursive;
}

.index-intro .jumbotron h2{
	font-family: 'Bubblegum Sans', cursive;
	color: #bfbf7f;
	font-size: 35px;
	
}
.description {

	color: #808080 ;
	font-size: 20px;
}

footer {
	background-color: powderblue;
	color: white;
	height: 100px;
	text-align: center;
	padding: 30px 10px 20px 10px;

}
body {
	background-image: url("Photos/bg1.jpg");
	backround-repeat: repeat;
	background-color: #cccccc;
	
}



/* unvisited link */
a:link {
   color: black;
}

/* visited link */
a:visited {
 color: Dimgray;
}

/* mouse over link */
a:hover {
    font-weight: bold;
}

/* selected link */
a:active {
	text-decoration: none;
}
nav  {
		border: 2px dashed #bfbf7f;
		border-radius: 20px;
		padding: 8px 8px;
		margin: 20px 0;
		font-family: 'Bubblegum Sans', cursive;
}