/*
Creator: Patricia Dela Cruz		
Date created: 9/16/2018
Date last modified: 9/16/2018
*/

header {
	background-color: lightskyblue;
	color: saddlebrown;
	height: 100px;
	text-align: center;
	padding: 30px 10px 20px 10px;
	font-family: "Abril Fatface", cursive;
	
}
h1 {
	font-size: 3.5em;
}
footer {
	background-color: mistyrose;
	color: indianred;
	height: 100px;
	text-align: center;
	padding: 30px 10px 20px 10px;

}
body {
	background-color: whitesmoke;
	
}

.btn {
	background-color: Wheat;
	color: saddlebrown;
	
}

/* unvisited link */
a:link {
   color: black;
}

/* visited link */
a:visited {
 color: Dimgray;
}

/* mouse over link */
a:hover {
    font-weight: bold;
}

/* selected link */
a:active {
	text-decoration: none;
}